<% provide(:title, "About") %>
<h1>About</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well center">
			<blockquote>
				<p class="lead"><em>The Conference Registration Application (CRA) was developed to provide an easy-to-use interface between conference administrators and conference participants, specifically in the realm of research and academia, to streamline conference registrations and participant paper submissions.</em></p>
				<footer>Ivana Rodriguez, <cite title="Source Title">CRS, Inc.</cite></footer>
			</blockquote>
			<p>From the perspective of conference administrators, this application would eliminate the need to build registration systems in-house, reducing the overall cost of hosting a conference, especially in terms of time and resources. Organizers can manage the registration process and review participant paper submissions from anywhere in the word, in real-time. Additionally, the application provides the ability to export reports on conference statistics which can later be analyzed to optimize the planning and structure of future conferences.</p>
			<p>On the other end of the spectrum, the application creates a centralized environment for participants to register for academic and research conferences and to submit their papers for consideration. Conference participants who sign-up for the application also have the added benefit of being able to manage their personal information from their user profiles, including the ability to maintain their payment information, paper submissions, and active registrations.</p>
		</div>
	</div>
</div>