<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<address>
				<strong>CRS, Inc.</strong><br>
				11200 SW 8th Street, ECS 352<br>
				Miami, FL, 33199<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>

			<address>
				<strong>CRS Customer Support</strong><br>
				<a href="mailto:#">crs@admin.com</a>
			</address>
		</div>
	</div>
</div>