<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Conference Registration System</h1>

  <h2 class="lead">
    CRS is one of the leading tools used by students and professionls to register for top academic and reserch conferences from around the world!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>