<% @conf = Conference.find_by(id: @conf_reg.conference_id) %>

<h1>CRS Receipt & Confirmation</h1>
<p>Hi <%= @user.name %>,</p>
<p>
Thank you for registering for the <%= @conf.name %>!
</p>
<p>A copy of your receipt can be found here: <%= link_to "Registration Receipt", "/receipts/#{@receipt.id}" %></p>
<p>Thank you for choosing CRS!</p>
<p>Best,</p>
<em>CRS Team</em>
